.body_backgorund 
{
    background-image:url('hOye.gif');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}
#myCanvas
{
border-width: 10px;
background-color: rgb(46, 227, 112);
border-style: ridge;
    border-color: aquamarine;
}

